@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Chivo+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000d12;
  --white: #e9f4f9;
  --blue: #00b4fd;
  --blue-dark: #003ace;
  --blue-mid: #081e69;
  --bg-card: #01141b;
  --bg-card2: #07193c;
  --sky-gradient: linear-gradient(106.53deg, #00b4fd -5.68%, #003ace 86.98%);
  --glow: linear-gradient(103.43deg, #00b4fd -1.02%, #003ace 83.53%);
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply overflow-x-hidden bg-black font-archivo text-white antialiased;
  }

  a {
    @apply text-inherit no-underline;
  }

  button {
    @apply cursor-pointer border-0 font-archivo outline-none;
  }

  img {
    @apply block max-w-full;
  }
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
